<!-- This is the landing page -->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>HTA 
                <br />
                <img src="https://thumbs.dreamstime.com/b/web-155777122.jpg" alt="Making Habits!" width="20%" />
            </h1> 
            <!-- Option to register or log-in -->
            <p>Sign UP or Sign In</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Sign Up</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Sign In</a>
        </div>
    </div>
</div>